@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  background: linear-gradient(
    var(--black-gradient1) 0%,
    var(--black-gradient2) 100%
  );
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
}

p {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.6;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

li {
  text-decoration: none;
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: 1.75rem;
  }
}
