:root {
  --dark-blue: hsl(213, 19%, 18%);
  --light-grey: hsl(217, 12%, 63%);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --black-gradient1: hsl(215, 20%, 17%);
  --black-gradient2: hsl(216, 24%, 12%);
  --number-fill: hsla(0, 0%, 59%, 20%);
}
